<!DOCTYPE html>
<html xmlns           ="http://www.w3.org/1999/xhtml"
      xmlns:th        ="http://www.thymeleaf.org"
      xmlns:layout    ="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="common/base">
<head>
    <title>Contents</title>
</head>
<body>
    <div layout:fragment="content">
        <!-- コンテンツ内容 ここから -->
        <table class="table">
            <thead class="sunflower">
                <tr>
                    <td>ID</td>
                    <td>NAME</td>
                </tr>
            </thead>
        </table>
        <!-- コンテンツ内容 ここまで -->
    </div>
</body>
</html>